.wrapper
  
  = render 'shared/side-bar'

  .chat
    .header
      .header__left
        .header__left__current-group
          = @group.name
        %ul.header__left__members
          Member :
          - @group.users.each do |user|
            %li.header__left__members__member
              = user.name
      .header__right
        .header__right__btn
          Edit
    .messages
      = render @messages
    .form
      = form_for [@group, @message], html: {class: 'js-form'} do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'